<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%p{WARN=WARNING, TRACE=DEBUG}] %d %-25.25c{1} - %m%n" />  <!-- for netbeans - trace does not exist - thus switch to debug -->
      <!--PatternLayout pattern="%highlight{%-5p %d %-25.25c{1} - %m%n}{INFO=white, DEBUG=black, TRACE=black}" /-->
    </Console>
    
    <File name="File" fileName="file.log" append="False">
      <PatternLayout>
        <Pattern>%p %d %t %c - %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="all">
      <AppenderRef ref="Console" level="INFO"/>
      <!--AppenderRef ref="File" /-->
    </Root>
  </Loggers>
</Configuration>