# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# vscode
.vscode/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# melt specific / benchmark
benchmarkCache/
trackCache/
results/
sealsResults/
sealsTmp/
melt-resources/
oaeimatcher/
serializationFolder/


current_result.rdf
result.rdf
trackPerformanceCube.csv
dashboard.html

#java
*.log

#bin folder
bin/

#Logging
log.txt
matching-eval/log.txt
#log4j.properties

# Python
playground.py

# (Python) Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# (Python) PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# (Python) Installer logs
pip-log.txt
pip-delete-this-directory.txt

# datasets
**/datasets/*.xml

#latex
*.aux
*.bbl
*.blg
*.synctex.gz
*.out
*.dvi
paper/*.pdf

#include example results
!examples/analyzingMatcherSimilarity/results*

#exclude playgrounds
Spielewiese.java
Playground.java
Playground[0-9].java

# gradle
.gradle/

# mac specific
.DS_Store

# log files
*.log

# documentation: avoid adding temporal file versions when opened in libre office
documentation/.~lock.melt_ml_architecture_image.odp#
documentation/.~lock.melt_transformers_graphics.odp#
python_command.txt
index.index.0

# include travis file
!.travis.yml
!.github/workflows/maven.yml
!.gitignore

# properties file
local_config.properties

# background knowledge: do not track buffers / persistences
/matching-jena-matchers/persitences
/matching-jena-matchers/persistences
/persistences
*.mapdb
babelnet.var.properties
jlt.var.properties
matching-jena-matchers/config/babelnet.properties
matching-jena-matchers/config/babelnet.var.properties

# evaluation client
matching-eval-client/dependency-reduced-pom.xml
